body {
    width: 800px;
    margin: auto;
}

h1, h2 {
    border-bottom: 1px solid grey;
    padding-bottom: 4px;
    overflow: hidden;
    font-weight: 400;
}

img {
    float: right;
    margin: 0 0 1em 1em;
    width: 35%;
}

blockquote {
    font-style: italic;
}

blockquote::before, blockquote::after {
    content: "\"";
}

cite {
    font-style: normal;
    text-align: right;
    display: block;
}

cite::before {
    content: "-";
}
